video#singleVideo {
    width: 100%;
}
vg-player{
    display: block;
    background-color: white;
}
vg-controls{
    height: 280px;
    background-color: transparent;
}
vg-play-pause{
    height: 280px;
    width: 480px;
    line-height: 280px;
}