<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">home</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="sleep" [class.activated]="currentUrl == '/sleep'">
        <i class="material-icons">brightness_2</i>
        <span>Sleep</span>
      </a>
    </li>
    <li>
      <a routerLink="meditate" [class.activated]="currentUrl == '/meditate'">
        <i class="material-icons">trip_origin</i>
        <span>Meditate</span>
      </a>
    </li>
    <li>
      <a routerLink="music" [class.activated]="currentUrl == '/music'">
        <i class="material-icons">music_note</i>
        <span>Music</span>
      </a>
    </li>
    <li>
      <a routerLink="master" [class.activated]="currentUrl == '/master'">
        <i class="material-icons">stars</i>
        <span>Master</span>
      </a>
    </li>
  </ul>
</nav>